.page__header {
  padding: 50px 0 24px;
}

@media (max-width: 1439px) {
  .page__header {
    padding: 30px 48px 26px;
  }
}

@media (max-width: 1023px) {
  .page__header {
    padding: 30px 24px 25px;
  }
}

@media (max-width: 767px) {
  .page__header {
    padding: 16px 16px 16px;
  }
}
