.comments__container {
  max-width: 1184px;
  margin: 0 auto;
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1279px) {
  .comments__container {
    max-width: 928px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 23px 
  }
}

@media (max-width: 1023px) {
  .comments__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .comments__container {
    grid-gap: 0;
  }
}

@media (max-width: 374px) {
  .comments__container {
    margin-top: 54px;
  }
}

