.place__paragraph {
  margin: 0;
  margin-bottom: 23px;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 27px;
    margin: -10px 0 38px;
  }
}

@media (max-width: 565px) {
  .place__paragraph {
    max-width: 343px;
    margin-bottom: 26px;
    padding-right: 5px;
    margin-top: 0;
  }
}
