.intro__main-text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 13px;
}

@media (max-width: 1279px) {
  .intro__main-text {
    margin-bottom: 19px;
  }
}

@media (max-width: 1023px) {
  .intro__main-text {
    margin-bottom: 26px;
  }
}

@media (max-width: 767px) {
  .intro__main-text {
    font-size: 16px;
    line-height: 27px;
    padding-right: 3px;
    margin-bottom: 32px;
  }
}

@media (max-width: 374px) {
  .intro__main-text {
    margin-bottom: 37px;
  }
}
